# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
  batch: true
  branches:
    include: [ master ]

pr:
  autoCancel: true

    
jobs:

- job: 'Windows'
  pool:
    vmImage: 'vs2017-win2016'
  strategy:
    matrix:
      Python27:
        python.version: '2.7'
      Python37:
        python.version: '3.7'
    maxParallel: 4

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - script: python -m pip install --upgrade pip
    displayName: 'Install dependencies'

  - script: pip install pyinstaller
    displayName: 'pyinstaller'

  - script: build.cmd
    displayName: 'build'
 
  - task: PublishBuildArtifacts@1
    inputs:
      pathtoPublish: './dist/'
      artifactName: 'ddns-win-$(python.version)'

- job: 'PublishWindows'
  dependsOn: 'Windows'
  pool:
    vmImage: 'vs2017-win2016'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.x'
      architecture: 'x64'
    
  - job: 'MacOS'
  pool:
    vmImage: 'macos-10.13'
  strategy:
    matrix:
      Python27:
        python.version: '2.7'
      Python37:
        python.version: '3.7'
    maxParallel: 4

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - script: python -m pip install --upgrade pip
    displayName: 'Install dependencies'

  - script: pip install pyinstaller
    displayName: 'pyinstaller'

  - script: ./build.cmd
    displayName: 'build'
  
  - task: PublishBuildArtifacts@1
    inputs:
      pathtoPublish: './dist/'
      artifactName: 'ddns-mac-$(python.version)'
      
- job: 'PublishMacOS'
  dependsOn: 'MacOS'
  pool:
    vmImage: 'macos-10.13'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.x'
      architecture: 'x64'

